    .addCustom {
        font-size: 1.3dvw;
        width: 20dvw;
        margin-right: 1dvw;
    }
    
    .addCustomCount {
        font-size: 1.3dvw;
        width: 1dvw;
        margin-right: 1dvw;
    }

    .addCustomBtn {
        font-size: 1.3dvw;
        width: 6dvw;
    }