.ExtBlockTitle {
    .title {
        background-color: lightgray;
        box-sizing: border-box;
        font-weight: 600;
        text-align: center;
        padding: 1.5dvw;
        font-size: 2dvw;
        border-bottom: 0.2dvw gray solid;
    }

    .subtitle {
        text-align: center;
        margin-top: 1dvw;
        font-size: 1dvw;
    }
}