        .customLi {
            width: auto;
            height: 2.5dvh;
            font-size: 1dvw;
            margin: 0.5dvw;
            padding: 0.5dvw;
            background-color: lightgray;
            border-radius: 0.3dvw;
            vertical-align: middle;
            
            .customDelBtn {
                margin-left: 0.5dvw;
            }

            .customDelBtn:hover {
                background-color: lightcoral;

            }
        }